### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data=[4,8,15,16,23,42]
series=pd.Series(data)

print(series)

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
data=[2,3,5,9,8,4,6,7,23,45]
series=pd.Series(data)
print(series)

0     2
1     3
2     5
3     9
4     8
5     4
6     6
7     7
8    23
9    45
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
data={"name":['alice','bob','clier'],"age":[25,30,27],"gender":["female","male","female"]}
df=pd.DataFrame(data)
print(df)

    name  age  gender
0  alice   25  female
1    bob   30    male
2  clier   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### A DataFrame in Pandas is a 2-dimensional labeled data structure with rows and columns. It is similar to a spreadsheet or a SQL table. A   Series in Pandas is a 1-dimensional labeled array. It is similar to a Python list with an index.
 ####   The main difference between a DataFrame and a Series is that a DataFrame has multiple columns, while a Series only has one column. Each column in a DataFrame is a Series.
#### For example, the following code creates a DataFrame with two columns, Name and Age:

In [7]:
data = {'Name': ['John Doe', 'Jane Doe', 'Peter Smith', 'Mary Johnson'], 'Age': [25, 30, 40, 50]}
df = pd.DataFrame(data)
print(df)

           Name  Age
0      John Doe   25
1      Jane Doe   30
2   Peter Smith   40
3  Mary Johnson   50

In [9]:
data=[1,3,4,6,5,7]
series=pd.Series(data)
print(series)

0    1
1    3
2    4
3    6
4    5
5    7
dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### here are some common functions you can use to manipulate data in a Pandas DataFrame:
#### head() : This function returns the first few rows of a DataFrame. This can be useful for getting a quick overview of the data.by default it provide first 5 record.
#### tail() : This function returns the last few rows of a DataFrame. This can be useful for getting a quick overview of the data at the end.similarly it also provide last 5 record by default.
#### sort_values() : This function sorts a DataFrame by one or more columns. This can be useful for organizing the data in a particular way.
#### filter() : This function selects rows from a DataFrame that meet certain criteria. This can be useful for filtering out unwanted data.
#### apply() : This function applies a function to each row or column of a DataFrame. This can be useful for transforming the data in a particular way.
#### replace() : This function replaces values in a DataFrame with new values. This can be useful for correcting errors or changing the format of the data.
#### drop() : This function drops rows or columns from a DataFrame. This can be useful for removing unwanted data.
#### merge() : This function merges two or more DataFrames together. This can be useful for combining data from different sources.
#### groupby() : This function groups rows of a DataFrame together based on a common value. This can be useful for summarizing the data or performing statistical analysis.
#### Here is an example of how you might use the sort_values() function:

In [15]:
df = pd.DataFrame({"name":['alice','bob','clier'],"age":[25,30,27],"gender":["female","male","female"]})
df = df.sort_values(by=['age'], ascending=True)
print(df)

    name  age  gender
0  alice   25  female
2  clier   27  female
1    bob   30    male

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### All Pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable.
#### Series is a one-dimensional array-like object with labeled data. It is mutable in nature, i.e., the values of the Series can be changed, but the size of the Series cannot be changed.
#### DataFrame is a two-dimensional tabular data structure with labeled data. It is also mutable in nature, i.e., the values of the DataFrame can be changed, and the size of the DataFrame can be changed by adding or removing rows or columns.
#### Panel is a three-dimensional array-like object with labeled data. It is also mutable in nature, i.e., the values of the Panel can be changed, and the size of the Panel can be changed by adding or removing rows, columns, or layers.
#### Therefore, Series, DataFrame, and Panel are all mutable in nature.
#### Here is an example of how you can change the values of a Series:

In [17]:
s = pd.Series([1, 2, 3, 4, 5])
s.loc[0] = 10
print(s)

0    10
1     2
2     3
3     4
4     5
dtype: int64

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
s1 = pd.Series([1, 2, 3, 4, 5], name='Numbers')
s2 = pd.Series(['A', 'B', 'C', 'D', 'E'], name='Letters')
s3 = pd.Series([True, False, True, False, True], name='Booleans')
df = pd.DataFrame([s1, s2, s3])
print(df)

             0      1     2      3     4
Numbers      1      2     3      4     5
Letters      A      B     C      D     E
Booleans  True  False  True  False  True

#### Here three Series, s1, s2, and s3. The s1 Series contains the numbers 1, 2, 3, 4, and 5. The s2 Series contains the letters A, B, C, D, and E. The s3 Series contains the Boolean values True, False, True, False, and True.
### The df DataFrame is created by passing the three Series to the pd.DataFrame() function. The pd.DataFrame() function automatically assigns the names of the Series to the columns of the DataFrame.